@page
@model Bungala1.Views.ShrekMitius.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShrekMitiu[0].Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShrekMitiu[0].IsSmokerFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShrekMitiu[0].IsPetFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShrekMitiu[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShrekMitiu[0].PricePerNight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShrekMitiu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSmokerFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPetFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerNight)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
